<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > postHateIts,
                'list-group-item-danger': postLoveIts < postHateIts}">
  <span class="pull-right">{{postCreatedAt | date :'short' }}</span>
  <h2>{{postTitle}}</h2>
  <p>{{postContent}}</p>
  <button type="button" class="btn btn-success m-1" (click)="onClickLoveIt()">Love it : {{postLoveIts}}</button>
  <button type="button" class="btn btn-danger m-1" (click)="onClickHateIt()">Don't like it : {{postHateIts}}</button>
</li>
